.parent{
    -fx-background-color: #ffffff;
}
.sidebar{
    -fx-background-color: #abd1c6
}

.forgetBtn{
    -fx-text-fill: #a3a3a3;
    -fx-background-radius: 0;
}

.forgetBtn:hover{
    -fx-background-radius: 0;
    -fx-text-fill: #2e7575;
    -fx-background-color: #abd1c6;
    -fx-underline: true;
}
.loginButton{
    -fx-background-radius: 0;
    -fx-text-fill: #2e7575;
    -fx-background-color: rgba(74, 84, 95, 0.5);

}

.loginButton:hover{
    -fx-background-radius: 0;
    -fx-background-color: WHITE;
    -fx-text-fill:#004643;
    -fx-border-color: #BBCCCC;
    -fx-border-width: 1px;
    -fx-border-style: solid;

}



