/*
This was originally the users Pane but was then in the constructing phase deleted from our System.

.titled-pane
{
    -fx-text-fill: black;
    -fx-font-family: Consolas;
    -fx-font-size: 12;
    -fx-font-weight: 700;
    text-decoration: underline solid rgb(68, 68, 68);
    text-transform: uppercase;

}
.titled-pane:focused
{
    -fx-text-fill: #44635c;
}
.titled-pane > .title
{
    -fx-background-color: transparent;
}

.titled-pane:focused > .title
{
    -fx-color: #476e68;
}

.titled-pane > .title > .arrow-button
{
    -fx-background-color: transparent;
}

.titled-pane > .title > .arrow-button .arrow
{
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;

}

.titled-pane:collapsed > .title > .arrow-button .arrow
{
    -fx-rotate: -90;
}

.titled-pane > *.content
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.titled-pane:focused > .title > .arrow-button .arrow
{
    -fx-background-color: #aeeedb;
}
*/
