.parent{
    -fx-background-color: RED;
}
.sidebar{
    -fx-background-color: RED;
}
.loginButton{
    -fx-text-fill: #007efc;
    -fx-background-color: rgba(74, 84, 95, 0.02);
}

.loginButton:hover{
    -fx-background-color: WHITE;
    -fx-background-radius: 10px;
    -fx-text-fill: #007efc;
    -fx-border-color: PURPLE;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
}



