.parent{
    -fx-background-color: #BBCCCC;
}
.sidebar{
    -fx-background-color: #BBCCCC;
}
.loginButton{
    -fx-text-fill: #BBCCCC;
    -fx-background-color: rgba(74, 84, 95, 0.02);
}

.loginButton:hover{
    -fx-background-color: WHITE;
    -fx-background-radius: 10px;
    -fx-text-fill:#BBCCCC;
    -fx-border-color: #BBCCCC;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
}



