.dialog-pane {
    -fx-background-color: #89B9AC;
    -fx-text-alignment: center;
}
.button{
    -fx-text-alignment: center;
    -fx-background-radius: 0;
    -fx-text-fill: #2e7575;
    -fx-background-color: rgba(74, 84, 95, 0.5);

}

.button:hover{
    -fx-background-radius: 0;
    -fx-background-color: WHITE;
    -fx-text-fill:#004643;
    -fx-border-color: #BBCCCC;
    -fx-border-width: 0,5px;
    -fx-border-style: solid;

}
.dialog-pane .label {
    -fx-column-halignment: center;
    -fx-text-fill: white;
}

.dialog-pane .header-panel {
    -fx-text-alignment: center;
    -fx-background-color: #A1C4BA;
}

.dialog-pane .header-panel .label {
    -fx-text-alignment: center;
    -fx-font-style: italic;
    -fx-font-size: 2em;
}