.parent{
    -fx-background-color: WHITE;
}
.sidebar{
    -fx-background-color: #A3B8B8;
}

.forgetBtn{
    -fx-text-fill: #29e1e1;
    -fx-background-radius: 0;
}

.forgetBtn:hover{
    -fx-background-radius: 0;
    -fx-text-fill: #A3B8B8;
    -fx-underline: true;
}
.loginButton{
    -fx-background-radius: 0;
    -fx-text-fill: #A3B8B8;
    -fx-background-color: rgba(74, 84, 95, 0.5);

}

.loginButton:hover{
    -fx-background-radius: 0;
    -fx-background-color: WHITE;
    -fx-text-fill:#A3B8B8;
    -fx-border-color: #A3B8B8;
    -fx-border-width: 1px;
    -fx-border-style: solid;

}



