.sidebar{
     -fx-background-color: #89b9ac;

}
.content-area-manager{
     -fx-background-color: #abd1c6;
}
.dashboard{
     -fx-background-color: #E3EFEC;
}
.sidebar-user-btn{
     -fx-background-color: transparent;
     -fx-background-radius: 0px;
     -fx-text-fill: #001E1D;
}

.sidebar-btn{
     -fx-background-color: transparent;
     -fx-background-radius: 0px;
     -fx-text-fill: #001E1D;
}
.sidebar-btn:hover{
     -fx-background-color: transparent;
     -fx-background-radius: 0px;
     -fx-text-fill: #b8b1b1;
     -fx-border-color: #E3EFEC;
     -fx-border-width: 0px 0px 0px 4px;
}
.sidebar-btn-tabs{
     -fx-background-color: transparent;
     -fx-background-radius: 0px;
     -fx-text-fill:  #A1C4BA;
}
.sidebar-btn-tabs:hover{
     -fx-background-color: transparent;
     -fx-background-radius: 0px;
     -fx-text-fill: #b8b1b1;
     -fx-border-color:  #A1C4BA;
     -fx-border-width: 0px 0px 0px 3px;
}

.label{
     -fx-text-fill: #001E1D;
}
.sidebar-btn:pressed .label{
     -fx-background-color: transparent;
     -fx-background-radius: 0px;
     -fx-text-fill: #E3EFEC;
}
.sidebar-btn:pressed .sidebar-btn-icon{
     -fx-fill: #E3EFEC;
}
.sidebar-btn-icon{
     -fx-fill: #001E1D;
}

.menu-bar-btns{
     -fx-background-color: #fff;
     -fx-border-color: #cccccc;
     -fx-border-width: 0px 0px 0px 1px;
}
.menu-bar-btns:hover{
     -fx-background-color: #E3EFEC;
}
.menu-bar-btns-icon{
     -fx-fill: #999;
}
.menu-bar-btns:hover .menu-bar-btns-icon{
     -fx-fill: #fff;
}
.menu-bar-search-field{
     -fx-prompt-text-fill: #b8b1b1;
     -fx-text-fill: #000;
}
.menu-bar-search-field-box{
     -fx-prompt-text-fill: #b8b1b1;
     -fx-text-fill: #000;
     -fx-border-color: #cccccc;
     -fx-border-width: 0px 0px 0px 1px;
}

.content-area-circle-btns{
     -fx-background-color: #fff;
     -fx-background-radius: 0;
     -fx-border-color: #cccccc;
     -fx-border-radius: 0;
}
.content-area-circle-btns:hover{
     -fx-background-color: #E3EFEC;
     -fx-background-radius: 0;
     -fx-text-fill: #fff;
}
.content-area-circle-btns-icon{
     -fx-fill: #b8b1b1;
}
.content-area-circle-btns:hover .content-area-circle-btns-icon{
     -fx-fill: #fff;
}
.logout-button:hover{

}